*
{
	margin: 0;
	padding: 0;
}
header
{
	color: red;
	text-align: left;
}
.nav
{
	position: fixed;
	background: black;
	width: 100% !important;
}

main
{
	color: lime;
	text-align: center;
}

footer
{
	color: blue;
	text-align: right;
}